/framework/framework-utils/target/
/framework/framework-mail/target/
/framework/framework-entity/target/
/framework/framework-dictionary/target/
/framework/framework-server/target/
/usercenter/user-center-api/target/